<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper</title>
</head>
<body>
<form action="{{ url_for('my_form_post') }}" method="POST">
    <h1>PlayScraper</h1>
    <label for="keyword">Keywords</label>
    <input type="text" id="keyword" name="keyword"><br><br>
    <label for="country">Country</label>
    <input type="text" id="country" name="country"><br><br>
    <label for="language">Language</label>
    <input type="text" , id="language" , name="language"><br><br>
    <label for="app_id">App ID</label>
    <input type="text" id="app_id" name="app_id"><br><br>
    <button name="submit" type="submit">Get app index</button>
</form>
</body>
</html>
